.banner {
    /* background-image: url("../../images/cover.jfif"); */
    /* background-color: #00b2ff; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .carousel-item > img {
    width: 68vmax;
    height: 38vmin;
  }
  .carousel-item-right > img {
    width: 19vmax;
    /* height: 50vmin; */
  }
  .banner > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 1.4vmax "Lucida Sans";
  }
  
  /* .banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
  }
  .banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  */
  
  .banner::after {
    content: "";
    width: 100vw;
    height: 76vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 100%, 0 100%, 100% 100%);
    max-width: 100%;
  }

  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .container {
    display: flex;
    margin: 4vmax auto;
    width: 80vw;
    /* background-color: rgba(233, 172, 102, 0.745); */
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  
  .productCard {
    width: 13vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 1vmax;
    padding: 1vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    border: #ffffff 0px solid;
    border-radius: 3%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  }
  
  .productCard > img {
    width: 6vmax;
  }
  .category-link > span {
       font-size: 1.2vmax;

  }
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
    color: rgb(110, 69, 6);
  }
  
  .productCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    
    transform: translateY(-1vmax);
  }
   
  @media screen and (max-width: 600px) {
    .carousel-item > img {
      width: 42vmax;
    }
    .productCard > p {
      font-size: 1.7vmax;
    }
    .categoryBar {
     overflow-y: auto;
      
    }
    .categoryImg > img {
      width: 8vmax;

    }
    
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  }

  /* .carousel-control-prev 
  {
    position: absolute;
    top: 25%;
    left: 88% !important;
    transform: translateY(-50%);  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  .carousel-control-next {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  .carousel-control-prev {
    left: 10px;
  }
  .carousel-control-next {
    right: 10px;
  }
  .carousel-control-prev .icon-arrow-up .iconify,
  .carousel-control-next .icon-arrow-down .iconify {
    font-size: 24px;
  } */
  /* .carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 60px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev .iconify,
.carousel-control-next .iconify {
  font-size: 24px;
  color: #fff;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #222;
  cursor: pointer;
} */
